
@font-face {
  font-family: "DM Sans";
  src: url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
  font-optical-sizing: auto;
  font-weight: 400, 500;
  font-style: normal;
} 



body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  
}


.bento-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 columnas de igual tamaño */
  grid-template-rows: 20rem 10rem 10rem;          /* 3 filas de igual tamaño */
  gap: 2rem;                           /* Espacio entre los elementos */
  width: 60%;
  margin: 70px auto;                  /* Centrado horizontal con margen superior */
}


.item-1 {
  grid-column: 2 / 4; /* Ocupa desde la línea de columna 1 hasta la 3 */
  grid-row: 1 / 2;    /* Ocupa desde la línea de fila 1 hasta la 3 */
  background-color: hsl(256, 67%, 59%);
  border-radius: 10px; 
}

.item-1 h1 {
  color: white;
  padding: 2rem;
}

.item-2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: hsl(0, 0%, 100%);
  color: black;
  border-radius: 10px;
}
.item-3 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: hsl(39, 100%, 71%);
  border-radius: 10px;
}
.item-4 {
  grid-column: 4 / 4;
  grid-row: 1 / 3;
  background-color: hsl(254, 88%, 90%);
  border-radius: 10px;
}
.item-5 {
  grid-column: 3 / 5;
  grid-row: 3 / 3;
  background-color: hsl(256, 67%, 59%); 
  color: white;
  border-radius: 10px;
  padding: 2rem;
} 

.item-6 {
  grid-column: 2 / 3;
  grid-row: 3 / 3;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

.item-7 {
  grid-column: 1 / 1;
  grid-row: 1 / 2;
  background-color: hsl(31, 66%, 93%);
  padding: 2rem;
  border-radius: 10px;
}

.item-7 img {
  width: 70%;
}
.item-7 h2 p{
  color: hsl(256, 67%, 59%);
  font-style: italic;
  margin: 0;
}

.item-8 {
  grid-column: 1 / 1;
  grid-row: 2 / 4;
  background-color: hsl(39, 100%, 71%);
  border-radius: 10px;
  align-items: center;
}

.item-8 img {
  width: 60%;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }