
@font-face {
  font-family: "DM Sans";
  src: url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
  font-optical-sizing: auto;
  font-weight: 400, 500;
  font-style: normal;
} 



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  
}


.bento-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 columnas de igual tamaño */
  grid-template-rows: 1fr 1fr;          /* 2 filas de igual tamaño */
  gap: 10px;                           /* Espacio entre los elementos */
  width: 80%;
  margin: 50px auto;                  /* Centrado horizontal con margen superior */
}
.item-1 {
  grid-column: 1 / 3; /* Ocupa desde la línea de columna 1 hasta la 3 */
  grid-row: 1 / 3;    /* Ocupa desde la línea de fila 1 hasta la 3 */
  background-color: hsl(256, 67%, 59%); 
}
.item-2 {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}
.item-3 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}
.item-4 {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }