

@media (max-width: 768px) {
    .bento-container {
        grid-template-columns: 1fr 1fr; /* 2 columnas de igual tamaño */
        grid-template-rows: repeat(8, auto); /* Filas automáticas para cada elemento */
        width: 95%;
        margin: 20px auto;
        gap: 1.5rem;
    }

    .item-1 {
        grid-column: 1 / 3; /* Ocupa ambas columnas */
        grid-row: 1 / 2;
    }

    .item-1 h1 {
        font-size: 3rem;
    }

    .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8 {
        grid-column: 1 / 3; /* Cada elemento ocupa ambas columnas */
        grid-row: auto; /* Filas automáticas */
    }

    .item-2 h2 {
        font-size: 1.5rem;
    }

    .item-3 h2 {
        font-size: 1.5rem;
    }

    .item-3 img {
        width: 50%;
    }

    .item-4 {
        flex-direction: column;
        align-items: center;
    }
    .item-4 img {
        width: 80%;
        
    }

    .item-5 {
        flex-direction: column;
        align-items: center;
    }

    .item-5 img {
        width: 60%;
        margin: 1rem 0;
    }

    .item-5 h2 {
        margin: 3rem;
        text-align: center;
    }
}